html{
  background-color: rgb(233,233,233);
  font-family: Helvetica, sans-serif, Arial;
  color: black;
}

html, body, #textbox_row{
  height: 100%;
  width: 100%;
}

textarea{
  height: 80%;
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

body {
    display: none;
}

#top{
  display: flex;
  justify-content: center;
  align-items:center;
}

#info{
  text-align: center;
  border-radius: 5px;
  line-height:50px;
  vertical-align:middle;
  position: absolute;
  width:120px;
  background-color: rgb(222,222,222);
  right:2%;
}

#info-box {
  visibility: hidden;
  position: absolute;
  border-radius: 10px;
  background: rgb(200,200,200);
  z-index:10;
  width:300px;
  height:100px;
  transform: translate(-100%,0);
  left: 50px;
  top:20px;
}

#middle{
  margin-top: 130px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: absolute;
  filter: drop-shadow(5px 5px 5px rgb(180,180,180));
  filter: drop-shadow(5px 5px 5px rgb(180,180,180)); 
  transform: translate(-50%,-50%);
}

#left_button{
  position: relative;
  right:10%;
}
#face_button{
  border-radius: 150px;
}

#right_button{
  position: relative;
  left: 10%;
}

#input_page{
  border-radius: 25px;
  display: none;
  opacity: 0;
  background-color: rgb(180,180,180);
  position: fixed;
  top: 0%;
  width: 80%;
  height: 80%;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}

#textbox_row{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#convert_area{
  margin-left: 10px;
  margin-right: 10px;
}