html{
  background-color: rgb(233,233,233);
  font-family: Helvetica, sans-serif, Arial;
  color: black;
}

html, body, #textbox_row{
  height: 100%;
  width: 100%;
}


h1 {
  font-size: 50px;
}

textarea{
  height: 80%;
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

body {
    display: none;
}


#info_text{
  line-height:5px;
}
#top{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items:center;
}


#info{
  text-align: center;
  border-radius: 8px;
  line-height:50px;
  vertical-align:middle;
  position: absolute;
  width:120px;
  background-color: rgb(222,222,222);
  right:2%;
}

#info_box {
  visibility: hidden;
  position: absolute;
  border-radius: 10px;
  background: rgb(200,200,200);
  z-index:10;
  width:500px;
  height:500px;
  transform: translate(-100%,0);
  left: 50px;
  top:20px;
}

#middle{
  margin-top: 90px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: absolute;
  filter: drop-shadow(5px 5px 5px rgb(180,180,180));
  filter: drop-shadow(5px 5px 5px rgb(180,180,180)); 
  transform: translate(-50%,-50%);
}
#face {
  display: flex;
  position: relative;
  justify-content: center;
  align-items:center;
}
#left_button{
  position: relative;
  right:10%;
}
#face_button{
  border-radius: 150px;
  filter:  brightness(1);
}

#right_button{
  position: relative;
  left: 10%;
}
#description_block{
  display: relative;
  visibility: hidden;
  position: absolute;
  color: white;
  font-size: 30px;

} 

#input_page{
  border-radius: 25px;
  display: none;
  opacity: 0;
  background-color: rgb(180,180,180);
  position: fixed;
  top: 0%;
  width: 80%;
  height: 80%;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}

#textbox_row{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#token_row{
  display: none;
}
#token_input{
  margin-top: 5px;
  width: 5em;
}

#convert_area{
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5em;
}

#dev1{
  border-radius:40px;
  width: 80px;
}

#dev2{
  border-radius:40px;
  width:80px;
}

#bottom{
  position: fixed;
  bottom: 2%;
}

